# Chezmoi Configuration file
[data]
    # System checking
    {{- if eq .chezmoi.os "darwin" }}
    is_mac = true
    is_arch = false
    {{- else if eq .chezmoi.os "linux" }}
        {{- if (.chezmoi.osRelease.id | lower | contains "arch") }}
    is_mac = false
    is_arch = true
        {{- end }}
    {{- end }}
